---
import Primary from '@layouts/Primary.astro';

import cover from '@images/cover.jpg?url';
---

<Primary title="Manomita's Bio">
  <main>
    <div class="flex mx-1 lg:mx-3">
      <div class="w-1/2 bg-slate-200 flex justify-center">
        <img src={cover} alt="" />
      </div>
      <div class="w-1/2 bg-slate-600 p-4 text-slate-300 space-y-6">
        <h1 class="text-4xl">Hi!</h1>
        <p class="text-sm">
          My research focuses on understanding how disaster risks can be reduced using approaches rooted in social sciences. 
          Particularly, I am interested in understanding how communication influences the way people think about and respond 
          to disasters and what needs to change. Most of my work is interdisciplinary, mainly drawing from sociology, 
          psychology and public policy. Check out my projects page for more information.
        </p>
        <h2 class="text-2xl">
          Education:
        </h2>
        <ol class="space-y-1 text-md">
          <li>
            <b>Ph.D. </b>(2021), Massey University, Wellington, New Zealand
          </li>
          <li>
            <b>M.Sc. </b>(2017), Tata Institute of Social Science, Mumbai, India
          </li>
          <li>
            <b>B.Tech. </b>(2012), West Bengal University of Technology, West Bengal, India
          </li>
        </ol>
        <h2 class="text-2xl">
          A Special Thank you:
        </h2>
        <p class="text-sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
          aliqua. Iaculis at erat pellentesque adipiscing commodo elit at. In nulla posuere sollicitudin aliquam ultrices. 
          Consectetur adipiscing elit ut aliquam purus sit. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus.
        </p>
        <p class="text-sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
          aliqua.
        </p>
      </div>
    </div>
  </main>
</Primary>
