---
import { Image } from 'astro:assets';
import GoogleScholarLogo from '@images/google-scholar.svg';
---

<!-- Footer -->
<footer class="mx-0 sm:mx-0 lg:mx-16 mt-6 mb-2 flex flex-col items-center space-y-2">
  <div class="flex flex-row">
    <a href="https://scholar.google.com/citations?user=WEgHb_sAAAAJ" target="_blank">
      <Image class="object-cover" src={GoogleScholarLogo} height={30} width={30} alt="Google Scholar Link" />
    </a>  
  </div>
  <a class="text-xs" href="https://parijatkhan.in/" target="_blank">© 2022 Built by Parijat Khan</a>
</footer>