---
import Content from './Content.astro';

const { rows } = Astro.props;
---
<div class={`grid grid-rows-1 grid-cols-${rows.length} gap-2`}>
    {rows.map((row: any) => <Content data={row} />)}
</div>
